

@media only screen and (max-width: 600px) and (max-height: 900px) {

    %description {
        font-size: 24px;
        font-family: 'Vollkorn'
    }
    
    .home {
        height: 100vh;
        width: 100vw;
        

    .tip {
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
    background-color: #F4F4F4;
    }

    .main {
        flex-wrap: wrap;
        overflow: scroll;
        height: 90%;
        width: 100%;
        background-color: #F4F4F4;
    }

    .addstock {
        @extend %description;
        height: 50%;
        width: 50%;
        padding: 0;
        border: none;
        background: none;
        margin: 20px 20px 20px 0px;
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    .addbutton {
    margin: 20px;
    height: 50%;
    width: 12%;
    background-color: #77d4b1;
    border: 1px solid #77d4b1;
    color: black;
    font-size: 24px;
    text-decoration: none;
    opacity: .9;
    border-radius: 3px;
    }

    .viewListContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        height:8%;
        width:100%;
        margin: 10px 0px 0px 0px;
    }

    .viewList {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height:100%;
        width: 38%;
        border-bottom: 3px solid #77d4b1 ;
        margin: 0px 6px 30px 5px;
        font-size: 24px;
        font-family: 'Volkorn'
    }

    .stockBoxContainer{ 
        height:15%;
        width: 100%;
    }

    .stockBox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height:100%;
        width: 80%;
        margin-right: 10%;
        box-shadow:  5px 10px
        rgba(0, 0, 0, 0.014), 0 2px 2px 0
        rgba(0, 0, 0, 0.932);
        
        
    }

    .stockBoxLeft{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        height: 65%;
        width: 50%;
        margin-bottom: 5px;

        h1{
            text-align: center;
            width: 100%;
            font-size: 20px;
            font-family: 'Volkorn';
       
        }
        h2{
            width: 100%;
            text-align: center;
            font-size: 10px;
            font-family: 'Volkorn';
        }
    }
    .stockBoxRight{
        display: flex; 
        justify-content: flex-end;
        height: 65%;
        width: 50%;
        margin-bottom: 2px;
        font-family: 'Volkorn';
        font-size: 19px;

        .latestChangePos{
            width: 33%;
            height: 40%;
            padding: 5px 20px 0px 10px;
            background-color: #77d4b1;
        }
        .latestChangeNeg{
            width: 33%;
            height: 40%;
            padding: 5px 20px 0px 10px;
            background-color: #d48277;
        }

        .latestPrice {
            margin: 5px 15px 5px 5px;
        }
    }

    .stockBoxBottom{
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #6bb4be;
  
        border-top: solid rgba(128,128,128,.7) 1.2px;
        

        .MoreStats{
            font-family: 'Volkorn';
            font-size: 16px;
            margin-right: 10px;
        }
    }

}
}