

@media only screen and (max-width: 600px) and (max-height: 900px) {

    .top {
        display: flex;
       justify-content: flex-start;
        align-items: center;
    height: 10%;
    width: 100%;
    box-shadow: 0 2px 2px -2px black;
    background-color: #F4F4F4;
    margin-bottom: 10px;


.logout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
   
    margin: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 32px;
    font-family: 'Abril Flatface';
    margin-left: 45px;
}
    }
}